{% extends 'StrolladPrestagesBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <h2 class="page-header">{{ title }}</h2>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}